<body class="mat-app-background">
<mat-toolbar color="primary">
  <span>{{title}}</span>
  <span class="spacer"></span>
  <button (click)="changeTheme()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>{{isLight ? "dark_mode" : "light_mode"}}</mat-icon>
  </button>
</mat-toolbar>
<!-- Title from module  -->
<app-todo-list></app-todo-list>
<!-- import component -->
<!-- <app-todo-add></app-todo-add> -->
<button (click)="openModal()" class="add-btn" mat-fab color="warn" aria-label="Add Todo">
  <mat-icon>add</mat-icon>
</button>
</body>
